# Ignore the hidden Obsidian settings and workspace data
.obsidian/
workspace.json

# Exclude environment variables and secrets
.env
*.env
secrets/
00_Secrets/

# Ignore OS-specific "junk" files (Windows & macOS)
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Docker data volumes (ignore local database files)
**/data/
**/letsencrypt/
